<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
        <%= link_to "NeoTwitterClone", '#', id: "logo" %>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "ホーム", '#' %></li>
                <li><%= link_to "ヘルプ", '#' %></li>
                <li><%= link_to "ログイン", '#' %></li>
            </ul>
        </div>
    </div>
</header>